@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Colona MT';
    src: url('/fonts/ColonaMT.woff2') format('woff2'), url('/fonts/ColonaMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-category: #40a829;
    /* base color */
    --color-base: #383C6C;
    --color-main: #858697;
    /* main bg color */
    --bg-base: #E5E7F8;
    --bg-sky: #A0D1FF;
    --bg-main: #0F0F0F;
}

html {
    font-size: 12px;
}

a {
    text-decoration: none;
}

input,
textarea,
select {
    font: inherit;
}

a:active {
    color: #0F0F0F;
}

menu a,
a:active,
a:focus {
    color: #0F0F0F;
}

a:hover {
    color: rgba(15, 15, 15, 0.8);
}

button a:active,
button a:hover {
    color: whitesmoke;
}

button {
    cursor: pointer;
}

*:disabled {
    cursor: not-allowed;
}

select:disabled,
input:disabled {
    background-color: var(--color-grey-200);
    color: var(--color-grey-500);
}

input:focus,
button:focus,
textarea:focus,
select:focus {
    outline-offset: -1px;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}

img {
    max-width: 100%;
}

.triangle-right-angle {
    width: 0;
    height: 0;
    border-top: 250px solid transparent;
    border-left: calc(1000 * (100vw / 1030)) solid #F1F2FF;
}

@media (max-width: 600px) {
    .triangle-right-angle {
        border-top: 150px solid transparent;
    }
}


/* Footer custom.css */

footer a:hover,
a:active {
    color: whitesmoke;
}

.footer-section {
    position: relative;
    overflow: hidden;
}

.footer-section1 {
    position: absolute;
    top: -25px;
    right: 250px;
    width: 50px;
    height: 120%;
    background-color: rgba(229, 231, 248, 0.2);
    transform: rotate(25deg);
}

.footer-section2 {
    position: absolute;
    top: -25px;
    right: 150px;
    width: 50px;
    height: 120%;
    background-color: rgba(229, 231, 248, 0.2);
    transform: rotate(25deg);
}

.footer-section3 {
    position: absolute;
    top: -25px;
    right: 70px;
    width: 50px;
    height: 120%;
    background-color: rgba(229, 231, 248, 0.2);
    transform: rotate(25deg);
}